%h1 Invoices

%h2 Chiffre d'affaire
= number_to_currency sales(@invoices)

%h2 Filtres
= link_to "Toutes les factures", invoices_path
= link_to "2009", invoices_path(:from => "2009-01-01", :to => "2009-12-31")
= link_to "2010", invoices_path(:from => "2010-01-01", :to => "2010-12-31")

%table

  %tr
    %th Numéro de facture
    %th Client
    %th Montant HT
    %th Montant TTC
    %th Date de facturation
    
  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.number, edit_invoice_path(invoice)
      %td= link_to invoice.client.name, edit_client_path(invoice.client)
      %td= number_to_currency(invoice.amount_excl_vat)
      %td= number_to_currency(invoice.amount_incl_vat)
      %td= l(invoice.invoiced_on)
      
= link_to "Nouvelle Facture", new_invoice_path