%h1 Clients#edit

= semantic_form_for @client do |f|
  = render "fields", :f => f
  = f.buttons
  
%p= link_to "Contrats de ce client", client_contracts_path(@client)
%p= link_to "Factures de ce client", client_invoices_path(@client)