!!!
%html
  %head
    %title Compta
    = stylesheet_link_tag "jquery-ui-1.8.16.custom"
    = javascript_include_tag "jquery-1.6.2.min", "jquery-ui-1.8.16.custom.min"
    = csrf_meta_tag
  %body
  
    %ul#menu
      %li= link_to "Clients", clients_path
      %li= link_to "Contrats", contracts_path
      %li= link_to "Factures", invoices_path
  
    = yield
